*{
    margin: 0;
    padding: 0;
}

body {
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.word {
    background-color: rgb(255, 103, 174);
    color: white;
    border: 2px solid black;
    margin: 1px;
    padding: 1px;
  }

  .word {
    background-color: rgb(255, 103, 174);
    color: white;
    border: 2px solid black;
    margin: 1px;
    padding: 1px;
  }

  .word {
    background-color: rgb(255, 103, 174);
    color: white;
    border: 2px solid black;
    margin: 1px;
    padding: 1px;
  }

  .word {
    background-color: rgb(255, 103, 174);
    color: white;
    border: 2px solid black;
    margin: 1px;
    padding: 1px;
  }

  .word {
    background-color: rgb(255, 103, 174);
    color: white;
    border: 2px solid black;
    margin: 1px;
    padding: 1px;
  }

  .word {
    background-color: rgb(255, 103, 174);
    color: white;
    border: 2px solid black;
    margin: 1px;
    padding: 1px;
  }

  .word {
    background-color: rgb(255, 103, 174);
    color: white;
    border: 2px solid black;
    margin: 1px;
    padding: 1px;
  }

